<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/info_prev_style.css') }}">
</head>
<body>
    <div id="page_top">
        <h1 id="page_title" style="font: bolder;">PIZZA PETE'S</h1>
        <div class="navbar">
            <a class="navbar-button" href="/user/quick_options">Home</a>
            {% if user.order != null: %}
                <a class="navbar-button" href="/user/order">Order ({{ user.order }})</a>
            {% else: %}
                <a class="navbar-button" href="/user/order">Order (0)</a>
            {% endif %}
            <a class="navbar-button" href="/logout">Logout</a>
        </div>
    </div>
    <div class="main_body">
        <div id="account_info">
            <h1 class="section_title">Account Info</h1>
            <form id="account_info_form" action="/user/update" method="POST">
                
                <label for="firstname" class="form_titles">First Name</label>
                <input class="form_item" name="firstname" id="firstname" type="text" value="{{user.firstname}}"><br><br>

                <label for="lame" class="form_titles">Last Name</label>
                <input class="form_item" name="lastname" id="lastname" type="text" value="{{user.lastname}}"><br><br>
                
                <label for="email" class="form_titles">Email</label>
                <input class="form_item" name="email" id="email" type="email" value="{{user.email}}"><br><br>
                
                <label for="address" class="form_titles">Address</label>
                <input class="form_item" name="address" id="address" type="text" value="{{user.address}}"><br><br>
                
                <label for="city" class="form_titles_extra">City</label>
                <input id="form_city" name="city" id="city" type="text" value="{{user.city}}">
                
                <label for="state" class="form_titles_extra">State</label>
                <select name="state" id="form_state">
                    <option value="">{{user.state}}</option selected="selected">
                        <option disabled>---------------</option>
                    {% for state in all_states %}
                        <option>{{state.name}}</option>
                    {% endfor %}
                </select>
                <br><br>
                <input class="form_submit" type="submit">
            </form>
        </div>
        <h1 class="section_title" id="sect_title_1">Past Orders</h1>
        <div class="past_orders">
                {% for order in orders: %}
                    {{order.updated_at}}
                    <div class="past_order">
                        {% if user.favorite_order == order.id: %}
                            <p class="paragraph">{{ order.size }}, {{ order.toppings }}, ${{ order.order_total }}</p>
                            <input id="favorite" type="checkbox" checked>
                        {% else: %}
                            <p class="paragraph">{{ order.size }}, {{ order.toppings }}, ${{ order.order_total }}</p>
                            <input id="favorite" type="checkbox">
                        {% endif %}
                    </div>
                {% endfor %}
        </div>
    </div>
</body>
</html>



