<!--/*  Authored/Developed by: Michael Akinosho
    Date: December 19, 2021
    Purpose: Python Stack @ Coding Dojo*/-->


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pizza Pete's</title>
        <script type="text/javascript">
            function showMessage() {
                alert("Thanks for submitting your order! Come back again!!");
            }
        </script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/site.css') }}">
            <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.2/dist/css/uikit.min.css"> -->
            <meta charset="UTF-8">
            <meta name="description" content="Template HTML file">
            <meta name="keywords" content="remember to add keywords here">
            <meta name="author" content="Michael Akinosho">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    
    <body>
        <header>
            <nav class="uk-flex uk-navbar-container uk-flex-around" uk-navbar style="background-color: rgb(255, 255, 255);">
                <h1>PIZZA PETE'S</h1>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <il class="uk_active uk-padding-small"><a href="/user/quick_options">Home</a></il>
                        <il class="uk-padding-small"><a href="/user/order">Order ({{session.user_session_orders|length}})</a></il>
                        <il class="uk-padding-small"><a href="/user/account/past_orders">Account</a></il>
                        <il class="uk-padding-small"><a href="/logout">Log Out</a></il>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>
            <div class="uk-flex uk-overflow_auto uk-container uk-flex-center uk-column-1-2-3">
                <div class="uk-padding uk-border-rounded" style="background-color:rgb(219, 217, 52);">
                    <h1>YOUR ORDER(S)</h1>
                    <form class="uk-form-stacked" action="/user/cancel_order" method="GET">
                        {% for order in session.user_session_orders %}
                            <div class="uk-flex">
                                <label class="uk-form-label" for="cart_order_no">Cart Order Number:&nbsp;</label>
                                <label class="uk-form-label" for="cart_order_no">{{ loop.index}}</label>
                            </div>
                            <div class="uk-flex">
                                <label class="uk-form-label" for="method">Method:&nbsp;</label>
                                <label class="uk-form-label" for="method">{{ order.method}}</label>
                            </div>
                            <div class="uk-flex">
                                <label class="uk-form-label" for="quantity">Quantity:&nbsp;</label>
                                <label class="uk-form-label" for="quantity">{{ order.quantity}}</label>
                            </div>
                            <div class="uk-flex">
                                <label class="uk-form-label" for="size">Size:&nbsp;</label>
                                <label class="uk-form-label" for="size">{{ order.size}}</label>
                            </div>
                            <div class="uk-flex">
                                <label class="uk-form-label" for="crust">Crust:&nbsp;</label>
                                <label class="uk-form-label" for="crust">{{ order.crust}}</label>
                            </div>
                            <div class="uk-flex">
                                <label class="uk-form-label" for="toppings">Toppings:&nbsp;</label>
                                <label class="uk-form-label" for="toppings">{{ order.toppings}}</label>
                            </div>
                            <div class="uk-flex">
                                <label class="uk-form-label" for="Order Price">Order Total:&nbsp;</label>
                                <label class="uk-form-label uk-text-bold" for="Order Price">{{ '$%0.2f' % order.order_total}}</label>
                            </div>
                            <hr class="uk-divider-icon">

                        {% endfor %}
                        <div class="uk-flex">
                            <label class="uk-form-label" for="grand_total">Grand Total:&nbsp;</label>
                            <label class="uk-form-label uk-text-bold" for="grand_total">{{ '$%0.2f' % session.user_session_grand_total}}</label>
                        </div>

                        <div class="uk-padding-small uk-flex-inline">
                            <input class="uk-margin-right uk-button-danger" type="submit" value="Cancel All Orders">
                            <input class="uk-margin-middle uk-button-danger" type="submit" formaction="/user/new_order" method="GET" value="Forgot An Item?"> 
                            <input class="uk-margin-left" type="submit" formaction="/user/submit_order" method='POST' value="Submit All Orders" onclick="showMessage()">
                        </div>
                    </form>
                </div>

            </div>
        </main>
        <footer>
            <nav class="uk-navbar-container" uk-navbar style="background-color: rgb(255, 255, 255);">
                
            </nav>

        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>